html,body{
    height:100%;
    width: 100%;
}

.hide{
    display: none;
}

/*.datepicker {
    width: 0;
    display: none;
}*/

.dp-highlight .ui-state-default {
    background: #484;
    color: #FFF;
}
